.skills {
  color: white;
  padding: 50px 0;
  background-color: #000000;
  font-family: 'cubano', sans-serif;
}

.skills h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.skills ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills li {
  width: 300px;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.skills li:nth-child(1) {
  background-color: #ffb3ba; /* light red */
}

.skills li:nth-child(2) {
  background-color: #ffdfba; /* light orange */
}

.skills li:nth-child(3) {
  background-color: #ffffba; /* light yellow */
}

.skills li:nth-child(4) {
  background-color: #baffc9; /* light green */
}

.skills li:nth-child(5) {
  background-color: #bae1ff; /* light blue */
}

.skills li:nth-child(6) {
  background-color: #e2baff; /* light purple */
}

.skills h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #0077b6;
}

.skills li:nth-child(1) h3 {
  color: #e63946; /* dark red */
}

.skills li:nth-child(2) h3 {
  color: #fca311; /* dark orange */
}

.skills li:nth-child(3) h3 {
  color: #ffb703; /* dark yellow */
}

.skills li:nth-child(4) h3 {
  color: #2a9d8f; /* dark green */
}

.skills li:nth-child(5) h3 {
  color: #1d3557; /* dark blue */
}

.skills li:nth-child(6) h3 {
  color: #6a4c93; /* dark purple */
}

.skills p {
  font-size: 18px;
  line-height: 1.5;
  color: #444;
  font-family: 'sofiapro-light', sans-serif;
}

.skills li:nth-child(1) p {
  color: #b83c3c; /* darker red */
}

.skills li:nth-child(2) p {
  color: #d9822b; /* darker orange */
}

.skills li:nth-child(3) p {
  color: #c68c00; /* darker yellow */
}

.skills li:nth-child(4) p {
  color: #20603d; /* darker green */
}

.skills li:nth-child(5) p {
  color: #0b214c; /* darker blue */
}

.skills li:nth-child(6) p {
  color: #563d7c; /* darker purple */
}

@media (max-width: 768px) {
  .skills ul {
    flex-direction: column;
    align-items: center;
  }

  .skills li {
    width: 80%;
    margin: 20px 0;
  }
}
